<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/system-panda-static/favicon.ico">
	<title><%= title %></title>
</head>

<body>
	<% if (plugins) { %>
		<h2>Plugins</h2>
		<h3>Active</h3>
		<% if (plugins.active.length > 0) { %>
			<ul>
				<% plugins.active.map(plugin => { -%>
					<li><%= plugin.title %> (<%= plugin.version %>)</li>
				<% }) -%>
			</ul>
		<% } else { -%>
			<p>No plugins.</p>
		<% } -%>
		<h3>Inactive</h3>
		<% if (plugins.inactive.length > 0) { %>
			<ul>
				<% plugins.inactive.map(plugin => { -%>
					<li><%= plugin.title %> (<%= plugin.version %>)</li>
				<% }) -%>
			</ul>
		<% } else { -%>
			<p>No plugins.</p>
		<% } -%>
	<% } -%>

	<br />

	<h2>Collections</h2>
	<% if (collections) { %>
		<ul>
			<% collections.map(collection => { -%>
				<li>
						<a href="<%= collection %>">
							<%= collection.slice(1) %>
						</a>
				</li>
			<% }) -%>
		</ul>
	<% } -%>
</body>

</html>
